<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.getstarted{
 position: absolute;
 top: 10px;
 right: 10px;
 padding: 10px;
 color: whitesmoke;
 margin: 10px;
}
.paragraph{
    width:50%;
    float:left;
    padding: 10px;
}
.get-button{
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.image{
    width:45%;
    float: right;
    padding: 10px;
}
    </style>
    <div style="background-color: #014F86; width:100%;height:100vh;">
<body>
    <h1 style="text-align: center;color:whitesmoke;padding: 10px;"> LYMPHOGRAPHY CLASSIFICATION USING ML</h1>
    <span class="getstarted" style="font-size:larger;">Get Started </span>
    <div class="paragraph">

<p style="color: whitesmoke;font-size:xx-large"> A lymph node in an oval- shaped organ of the immune system, distributed widely throughout the body.</p>
<p style="color: whitesmoke; font-size:xx-large">Proper classification and determination of credential attributes could simplify the process of disease prediction and evoke deterrent measures.</p>
<a href="/data" class="get-button">Get Started</a>
    </div>
<div class="image">
<img src="./static/img.jpg">
</div>
</div>
</head>
</body>
</html>
