<head>
    <header>
        <div style="text-align:center">
    <h2> FILL THE DETAILS</h2>
    <body>
        <form action="/predict" method="post">
            
        <input type="number" id="set1" name="set1" placeholder="lymphatics: normal(1),arched(2),deformed(3),displaced(4)" required><br><br>
        <input type="number" id="set2" name="set2" placeholder="block of affere: no(1), yes (2)"required><br><br>
        <input type="number" id="set3" name="set3" placeholder="bl. of Lymph. c: no(1), yes (2)"required><br><br>
        <input type="number" id="set4" name="set4" placeholder="bl. of lymph. s:"required><br><br>
        <input type="number" id="set5" name="set5" placeholder="by pass: no(1),yes(2)"required><br><br>
        <input type="number" id="set6" name="set6" placeholder="extravasates: no(1),yes(2)"required><br><br>
        <input type="number" id="set7" name="set7" placeholder="regeneration of: no(1),yes(2)"required><br><br>
        <input type="number" id="set8" name="set8" placeholder="early uptake in: no(1),yes(2)"required><br><br>
        <input type="number" id="set9" name="set9" placeholder="lym.nodes dimin: 0-3"required><br><br>
        <input type="number" id="set10"name="set10" placeholder="lym.nodes enlar: 1-4"required><br><br>
        <input type="number" id="set11"name="set11" placeholder="changes in lym.: bean(1), oval(2), round(3)"required><br><br>
        <input type="number" id="set12"name="set12" placeholder="defect in node: no(1), lacunar(2), lac.marginal(3)"required><br><br>
        <input type="number" id="set13" name="set13" placeholder="changes in node: no(1), lacunar(2), lac.marginal(3)"required><br><br>
        <input type="number" id="set14" name="set14" placeholder="changes in stru: no(1), grainy(2), drop-like(3)"required><br><br>
        <input type="number" id="set15" name="set15" placeholder="special forms: no(1), chalices(2), vesicles(3)"required><br><br>
        <input type="number" id="set16" name="set16" placeholder="dislocation of: no(1), yes(2)"required><br><br>
        <input type="number" id="set17" name="set17" placeholder="exclusion of no: no(1), yes(2)"required><br><br>
        <input type="number" id="set18" name="set18" placeholder="no. of nodes in: 0-9, 10-19, 20-29, 30-39, 40-49, 50-59"required><br><br>
        <input type="submit" style="background-color: cadetblue;"></input>
    </form>
    </div>
</header>
    </body>