<!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

.paragraph{
    width:50%;
    float:left;
    padding: 10px;
    margin: 10px;
}

.image{
    width:45%;
    float: right;
    padding: 10px;
}
    </style>
    <div style="background-color: #014F86; width:100%;height:100vh;">
<body>
    <h1 style="text-align: center;color:whitesmoke;padding: 10px;"> LYMPHOGRAPHY CLASSIFICATION USING ML</h1><br><br><br><br><br>
    <div class="paragraph">
<p style="color: whitesmoke;font-size:xx-large">The prediction is:</p>
<p style="color: whitesmoke; font-size:xx-large">{{y}}</p>
    </div>
<div class="image">
<img src="./static/img.jpg">
</div>
</div>
</head>
</body>
</html>